@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="errorMsg">

    <span>Sentimos  no  poder&nbsp;  responder&nbsp;  a  su peticion&nbsp;  en&nbsp;  estos&nbsp;  momentos,</span>
    <br>
    <br>
    <span>
        Intentaremos  solucionarlo  cuanto  antes !!!!
    </span>

</div>
